.experience-card-container{
    z-index: 5;
    width: 400px;
    background-color: white;
    margin: 20px;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.card-topper{
    height: 60px;
    width: 100%;
    background-color: #aa3281;
}

.card-intro{
    height: 250px;
    width: 100%;
}

.card-section{
    height: 300px;
    width: 400px;
}