
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 400px;
}

.outside-wrapper{
    position: relative;
    margin-bottom: 20px;
}

.experience-card-container{
    position: relative;
    z-index: 5;
    width: 250px;
    height: 200px;
    background-color: #f0e9e8;
}

.card-topper{
    position: relative; 
    z-index: 5;
    height: 40px;
    width: 100%;
    background-color: #aa3281;
}

.card-intro{
    position: absolute;
    z-index: 5;
    height: 160px;
    width: 100%;
}

.expanded-card{
    position: absolute;
    top: 2px;
    height: 400px;
    width: 251px;
    z-index: 10;
    perspective: 2000px;
    perspective-origin: 0 50%;
    transform-style: preserve-3d;
    transform: rotateX(-160deg);
    animation: unfold 1s;
}

@keyframes unfold {
    from{transform: rotateX(-70deg)}
    to{transform: rotateX(-160deg)}
}

.card-section{
    position: absolute;
    width: 100%;
    height: 200px;
    backface-visibility: hidden;
}

.expanded-card-front{
    background-color: #fcfcfc;
}

.expanded-card-back{
    background-image: linear-gradient(#e0d3d1, #fcfbfa);
    transform: rotateX(175deg);
    box-shadow: 5px 5px 5px rgba(0,0,0,.4);
}

.card-topper img{
    height: 100%;
}

.card-intro img{
    height: 100%;
    width: 100%;
}

.card-title{
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f0e9e8;
    display: flex;
    padding: 10px;
    border-top: solid 2px #aa3281;
}

.card-title h3{
    font-size: 16px;
}

.expanded-content{
    padding: 20px;
}

.expanded-content p{
    font-size: 12px;
}

.card-links{
    position: absolute;
    bottom: 0;
}



.plant-animation{
    position: absolute;
    bottom: -5px;
    left: 150px;
    height: 208px;
    width: 100px;
    background-image: url('../assets/plant-sprite.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 3900%;
    animation: grow 3.5s steps(38) 1;
    z-index: 10;
}

@keyframes grow{
    from{background-position: left;}
    to {background-position: right;}
}

@media only screen and (min-width: 500px){
    .experience-card-container{
        width: 400px;
        height: 300px;
        background-color: #f0e9e8;
        margin: 20px;
    }

    .card-topper{
        height: 60px;
    }

    .card-intro{
        height: 240px;
    }
    
    .expanded-card{
        height: 600px;
        width: 403px;
        margin: 20px;
    }

    .card-section{
        height: 300px;
    }

    .card-title h3{
        font-size: 24px;
    }

    .expanded-content p{
        font-size: 18px;
    }

    .plant-animation{
        bottom: -10px;
        left: 250px;
        height: 312px;
        width: 150px;
    }

    .card-links{
        margin-bottom: 10px;
    }

    .expanded-card-back{
        padding-top: 20px;
    }
}