
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 400px;
}

.outside-wrapper{
    position: relative;
}

.experience-card-container{
    position: relative;
    z-index: 5;
    width: 400px;
    height: 300px;
    background-color: #f0e9e8;
    margin: 20px;
}

.card-topper{
    position: relative; 
    z-index: 5;
    height: 60px;
    width: 100%;
    background-color: #aa3281;
}

.card-intro{
    position: absolute;
    z-index: 5;
    height: 240px;
    width: 100%;
}

.expanded-card{
    position: absolute;
    top: 0;
    height: 600px;
    width: 403px;
    margin: 20px;
    z-index: 10;
    perspective: 2000px;
    perspective-origin: 0 50%;
    transform-style: preserve-3d;
    transform: rotateX(-160deg);
    animation: unfold 1s;
}

@keyframes unfold {
    from{transform: rotateX(-90deg)}
    to{transform: rotateX(-160deg)}
}

.card-section{
    position: absolute;
    width: 100%;
    height: 300px;
    backface-visibility: hidden;
}

.expanded-card-front{
    background-color: #aa3281;
}

.expanded-card-back{
    background-image: linear-gradient(#e0d3d1, #fcfbfa);
    transform: rotateX(175deg);
    box-shadow: 5px 5px 5px rgba(0,0,0,.4);
}