.App{
    position: relative;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hide{
    display: none;
}

.red-splash{
    background-image: url('../assets/red-splate.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    position: absolute;
    top: -100px;
    left: -150px;
}

.blue-splash{
    background-image: url('../assets/blue-splat.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 400px;
    left: -50px;
}

.green-splash{
    background-image: url('../assets/green-splat.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    position: absolute;
    top: 150px;
    right: -100px;
}

.yellow-splash{
    background-image: url('../assets/yellow-splat.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    position: absolute;
    top: -250px;
    right: -150px;
}

@media only screen and (min-width: 600px){
    .red-splash{
        height: 500px;
        width: 500px;
    }

    .yellow-splash{
        height: 500px;
        width: 500px;
        top: -300px;
    }

    .blue-splash{
        height: 500px;
        width: 500px;
        top: 500px;
    }

    .green-splash{
        top: 250px;
    }
}

@media only screen and (min-width: 800px){
    .green-splash{
        width: 600px;
        height: 600px;
        top: 150px;
        right: -200px;
    }

    .yellow-splash{
        height: 600px;
        width: 600px;
        top: -400px;
        right: -50px;
    }

    .blue-splash{
        height: 600px;
        width: 600px;
    }
}

@media only screen and (min-width: 1200px){
    .red-splash{
        width: 800px;
        height: 800px;
    }

    .yellow-splash{
        width: 800px;
        height: 800px;
    }

    .green-splash{
        width: 800px;
        height: 800px;
    }

    .blue-splash{
        width: 800px;
        height: 800px;
    }
}