.about-wrapper{
    height: 300px;
}

.about-container{
    position: relative;
    background-image: linear-gradient(#b2dce4, #8f86cf);
    width: 90%;
    z-index: 5;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
}

@media only screen and (min-width: 900px){
    .about-container{
        width: 800px;
    }
}