.about-wrapper{
    height: 300px;
}

.about-container{
    position: relative;
    background-color: white;
    width: 90%;
    min-height: 300px;
    z-index: 5;
    margin: 0 auto;
}

@media only screen and (min-width: 900px){
    .about-container{
        width: 800px;
    }
}