.projects-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.project-card-container{
    width: 300px;
    height: 400px;
    z-index: 5;
    margin-bottom: 20px;
    perspective: 1000px;
}

.project-card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.project-card-container:hover .project-card{
    transform: rotateY(180deg)
}

.project-card-front, .project-card-back{
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

.project-card-front{
    background-color: white;
    border: 5px solid #b2dce4;
}

.project-card-back{
    background-color: #b2dce4;
    transform: rotateY(180deg);
}

.project-title{
    height: 60px;
    width: 100%;
    background-color: #aa3281;
    display: flex;
    padding: 20px;
}

.project-links{
    height: 60px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.github-link{
    background-image: url('../assets/github.png')
}

.github-link:hover{
    background-image: url('../assets/github-green.png')
}

.github-link, .github-link:hover{
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.project-links a{
    text-decoration: none;    
}

.project-links a:hover{
    color: #526c19;
}

.project-text{
    padding: 5px 20px;
}

.project-stack{
    height: 50px;
    width: 100%;
    border-top: 4px solid #aa3281;
    position: absolute;
    bottom: 0;
}

.project-stack img{
    height: 50px;
    width: 300px;
}

.project-card-front img{
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 700px){
    .projects-wrapper{
        width: 650px;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1000px){
    .projects-wrapper{
        width: 1000px;
    }
}